<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de login</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h2 class="titulo">Página de Login</h2>
    <input class="dadosLogin" placeholder="Email" v-model="username" @input="limparAviso">
    <input class="senha" placeholder="Password" v-model="password" @input="limparAviso">
    <div class="botao-container"> 
        <button @click="login">Login</button>
        <br>
        <a href="pagina2.html" class="link-button">Não tenho cadastro</a>
    </div>
    <div class="aviso" v-if="loginRealizado">{{ avisoLogin }}</div>
    <div class="aviso" v-if="!loginRealizado && username === '' && password === ''">Por favor, insira o email e a senha.</div>
</div>
</body>
</html>
<script src="index.js"></script>


